# Auto detect text files and perform LF normalization
* text=auto

# Documents
*.md text
*.txt text
*.html text
*.css text
*.js text
*.json text

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

# Scripts
*.sh text eol=lf
*.bat text eol=crlf

# Exclude files from exporting
.gitattributes export-ignore
.gitignore export-ignore